<!DOCTYPE html>
<html>
<head>
    <style type="text/css">      
      html, body, #chart { 
        width: 100%; height: 150%; margin: 0; padding: 0; 
      } 
    </style>
    <script src="https://cdn.anychart.com/releases/8.12.0/js/anychart-base.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
</head>
<body >
  <link rel="stylesheet" href="/static/css/yakutia.css">

  <script src='/static/js/yakutia.js'></script>

  <div class="bodysign">
            <div  class="header blocks">
            
                <img class="img blocks" src="webdesignDD_0000s_0000s_0000_Logo-Dashboard 1.png">
                <a class="blocks" style="text-decoration: none;" href=""><h3 class="blocks zagolovok">Departure <br> Dynamics</h3></a>
                <a class="blocks login" href="/lk">Личный кабинет</a>
                <a style="margin-left: 20px;" class="login" href="/train">Загрузка</a>
                <a style="margin-left: 20px;" class="login" href="/history">История</a>
                <a class="blocks login" href="/">Выход</a>
            </div>
            <div class="login-page2">
                <div class="formtwo">
            <div id="chart">
            </div>
        </div>
        </div>
        </div>
        <div id="boofer" class="foot">
          <h3 style="text-align: right; font-family: Montserrat Regular; color:rgb(88, 88, 88);">©️</h3><h3 style="text-align: right; font-family: Montserrat Regular; color:rgb(88, 88, 88);">Departure<br>Dynamics</h3><h3 style="text-align: right; font-family: Montserrat Regular; color:rgb(88, 88, 88);">Project made by Oaks Dungeon</h3>
        
        </div>

</body>
</html>