<!DOCTYPE html>
<html>
<head>
<title>
Главная
</title>
</head>
<body >


    <link rel="stylesheet" href="/static/css/yakutia.css">
    <script src='/static/js/api7.js'></script>
        
            <div class="header blocks">
                <img class="img blocks" src="/static/images/webdesignDD_0000s_0000s_0000_Logo-Dashboard 1.png">
                <a class="blocks" style="text-decoration: none;" href="#openModal"><h3 class="blocks zagolovok">Departure <br> Dynamics</h3></a>
                <a class="blocks login" href="#openModal">Личный кабинет</a>
                <a style="margin-left: 20px;" class="login" href="#openModal">Загрузка</a>
                <a style="margin-left: 20px;" class="login" href="#openModal">История</a>
                <a class="blocks login" href="/sign">Log in</a>
                <a class="signup" href="/sign" >Sign up</a>
            </div>

            <div id="openModal" class="modal">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title">Ошибка</h3>
                      <a href="#close" title="Close" class="close">×</a>
                    </div>
                    <div class="modal-body">    
                        <h3 style="font-family: Montserrat Light;">Войдите для перехода на другую страницу</h3>
                    </div>
                  </div>
                </div>
              </div>

        <div class="body">
            <h3 class="text1"> Инновационный веб-сервис  для прогнозирования  увольнения </h3>
            <h3 class="text2"> Наш сервис позволяет вычислить и визуализировать прогнозную оценку вероятности скорого увольнения каждого сотрудника в процентном соотношении. Проверьте сами! </h3>
            <a class="otpr2" href="">Попробовать ></a>
        </div>  
        <div class="body2"><br><br><br><br><br>
            <h3 class="text3">Команда разработки </h3>
            <h3 class="text11">Oaks Dungeon </h3>
            <img class="img2" src="/static/images/webdesignDD_0002s_0000s_0008_Слой-1 1.png">
            <img class="img3" src="/static/images/webdesignDD_0002s_0000s_0006_Слой-11 1.png">
            <img class="img4" src="/static/images/webdesignDD_0002s_0000s_0004_Слой-10 1.png">
            <img class="img5" src="/static/images/webdesignDD_0002s_0000s_0002_Слой-9 1.png">
            <img class="img6" src="/static/images/webdesignDD_0002s_0000s_0000_IMG_5005 1.png">
            <h3 class="text4"> Овчинников Алексей<h3 class="text41"> <br><br>Backend developer</h3></h3>
            <h3 class="text5"> Чесников Леонид <h3 class="text51"> <br><br>AI-Endineer</h3></h3>
            <h3 class="text6"> Сорокина Александра<h3 class="text61"> <br><br>Frontend developer</h3></h3>
            <h3 class="text7"> Винтерголлер Тимофей<h3 class="text71"> <br><br>Frontend developer</h3></h3>
            <h3 class="text8"> Тронев Алексей <h3 class="text81"> <br><br>Designer</h3></h3>
        </div>
        <div class="body3">
            <h3 class="text9">Отправьте нам сообщение! </h3>
            <img class="img7" src="/static/images/webdesignDD_0003s_0010_Слой-8 1.png">
            <h3  align="center" class="text10">Если у Вас есть вопросы или предложения по сотрудничеству, заполните форму ниже</h3>
            <form>
                <input type="text" class="form1" id="name" name="name" value="Ваше имя" />
                <input type="email" class="form2" id="email" name="email" value="Email" />
                <input type="text" class="form3" id="problema" name="problema" value="Опишите свою  проблему..." />
                <a class="otpr" onclick="click_feedback()">Отправить</a>
            </form>
        </div>
        <div class="foot">
            <h3 style="text-align: right; font-family: Montserrat Regular; color:rgb(88, 88, 88);">©️</h3><h3 style="text-align: right; font-family: Montserrat Regular; color:rgb(88, 88, 88);">Departure<br>Dynamics</h3><h3 style="text-align: right; font-family: Montserrat Regular; color:rgb(88, 88, 88);">Project made by Oaks Dungeon</h3>
        </div>

</body>
</html>