<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body >
  <link rel="stylesheet" href="/static/css/yakutia.css">

  <script src='/static/js/yakutia.js'></script>
  <script src='/static/js/api2.js'></script>

  <div class="bodysign">
            <div class="header blocks">
            
                <img class="img blocks" src="/static/images/webdesignDD_0000s_0000s_0000_Logo-Dashboard 1.png">
                <a class="blocks" style="text-decoration: none;" href=""><h3 class="blocks zagolovok">Departure <br> Dynamics</h3></a>
                <a class="blocks login" href="/lk">Личный кабинет</a>
                <a style="margin-left: 20px;" class="login" href="/train">Загрузка</a>
                <a style="margin-left: 20px;" class="login" href="/history">История</a>
                <a class="blocks login" href="/">Выход</a>
            </div>
            
            <div  class="login-page2">
                <div id="me_form" class="formtwo">
                    <h3 style="position: relative; top: -20px;left: 0px;font-family: Montserrat; font-size: 30px;">Личный кабинет</h3>
                     
                     <input value="Username" id="username_me" type="text" disabled>
                     <input value="First name" id="first_name_me" type="text" disabled>
                     <input value="Last name" id="last_name_me" type="text" disabled>
                     <input value="Email" id="email_me" type="text" disabled>
                     <input value="Password" id="password_me" type="password" disabled>
                     <h3 style="font-family: Montserrat;">Нужно</h3><a style="font-family: Montserrat;" onclick="Reset_Password()"> поменять пароль?</a><br><br>    
                    <!--Смена пароля и аналитика должны быть кнопками. Так же добавь поля для ввода старого пароля и нового-->
                     <!-- <div ><button id="reset_password" onclick="Reset_Password()">Поменять пароль</button> -->
                        <h3 style="font-family: Montserrat Light;"> Введите старый пароль:</h3><br>
                        <input value="Введите старый пароль" id="old_password" type="password"><br>
                        <h3 style="font-family: Montserrat Light;"> Введите новый пароль:</h3> <br>
                        <input value="Введите новый пароль" id="new_password" type="password">
                        <button style="width: 200px">Сохранить</button><br><br>

                        <a href="/parse" style=" font-family:  Montserrat;">Анализ сотрудников</a>
                     <!-- </div> -->
                    
        </div>
        </div>
        </div>
        <div class="foot">
            <h3 style="text-align: right; font-family: Montserrat Regular; color:rgb(88, 88, 88);">©️</h3><h3 style="text-align: right; font-family: Montserrat Regular; color:rgb(88, 88, 88);">Departure<br>Dynamics</h3><h3 style="text-align: right; font-family: Montserrat Regular; color:rgb(88, 88, 88);">Project made by Oaks Dungeon</h3>
        
        </div>

</body>
</html>