<!DOCTYPE html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <title> Регистрация </title>
</head>
<body >
  <link rel="stylesheet" href="/static/css/yakutia.css">

  <script src="/static/js/yakutia.js"></script>
  <script src="/static/js/api_auth.js"></script>
        
            <div class="header blocks">
            
                <img class="img blocks" src="/static/images/webdesignDD_0000s_0000s_0000_Logo-Dashboard 1.png">
                <a class="blocks" style="text-decoration: none;" href="/"><h3 class="blocks zagolovok">Departure <br> Dynamics</h3></a>
                <a class="blocks login" href="">Личный кабинет</a>
                <a style="margin-left: 20px;" class="login" href="">Загрузка</a>
                <a style="margin-left: 20px;" class="login" href="">История</a>
                <a class="blocks login" href="/">Выход</a>
            </div>
        <div class="bodysign">
          <h3 class="text12"> Инновационный веб-сервис  для прогнозирования  увольнения </h3>
            
            <a class="otpr2" href="/">Вернуться ></a>
            <div class="login-page">
                <div class="form">
                  
                  <form id="register_form" class="register-form">
                    <h3 class="signuptop">Sign up</h3>
                    <input type="text" id="name0" placeholder="Username"/>
                    <input type="text" id="name1" placeholder="First name"/>
                    <input type="text" id="name2" placeholder="Last name"/>
                    <input type="email" id="email1" placeholder="Email address"/>
                    <input type="password" id="password1" placeholder="Password"/>
                    <button type="submit">Зарегестрироваться</button>
                    <p class="message">Уже есть аккаунт? <a href="#">Войдите!</a></p>
                  </form>
                  <form id="login-form" class="login-form">
                    <h3 class="logintop">Log in</h3>
                    <input type="text" id="username" class="f" placeholder="Email"/>
                    <input type="password" id="password" class="f" placeholder="Password"/>
                    <button type="submit">Войти</button>
                    <p class="message">Не зарегистрированы? <a id="create" href="#">Создать аккаунт</a></p>
                  </form>
                </div>
              </div>
        </div>
        
        <div class="foot">
          <h3 style="text-align: right; font-family: Montserrat Regular; color:rgb(88, 88, 88);">©️</h3><h3 style="text-align: right; font-family: Montserrat Regular; color:rgb(88, 88, 88);">Departure<br>Dynamics</h3><h3 style="text-align: right; font-family: Montserrat Regular; color:rgb(88, 88, 88);">Project made by Oaks Dungeon</h3>
        
        </div>

</body>
</html>